@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: #171818;
      --foreground: #ddd8d8;
      --portblue: #96d0f4;
      --portred: #d89192;
      --portgray: #646464;
      --portgreen: #aeccb5;
      --portyellow: #e8c789;
}

body {
      color: var(--foreground);
      background: var(--background);
      font-family: "Rubik", sans-serif;
      height: 100vh;
      overflow: hidden;
}

.header {
      @apply flex w-full h-full justify-between p-4 xl:p-8 pb-0 items-center;
}

.logo {
      @apply w-28 xl:w-auto;
}

.log-container {
      @apply pb-8 ml-4 mr-4 max-h-full overflow-auto w-full;
}

.page-container {
      @apply flex w-full h-full flex-col overflow-hidden gap-4;
}

@keyframes proposed-route-id-anim {
      0% {
            border: 1px dashed var(--portgray);
      }
      50% {
            border: 1px dashed transparent;
      }
      100% {
            border: 1px dashed var(--portgray);
      }
}

.proposed-route-id {
      @apply inline-block px-4 py-2 border border-portgray mr-2 border-dashed rounded;
      animation-name: proposed-route-id-anim;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-play-state: running;
}

.quick-stats {
      @apply flex gap-2 xl:gap-4 text-xs xl:text-base justify-end;
}

.panels {
      @apply flex flex-col w-full h-full p-0 gap-0 xl:gap-4 xl:flex-row xl:p-4;
}

.panel-container {
      @apply flex flex-col h-[33%] xl:h-full w-1/3 grow;
}

.panel-title {
      @apply p-2 px-4 xl:p-4 text-background xl:text-[#646464] text-xs bg-foreground xl:text-sm xl:bg-transparent;
}

.panel-title-first {
}

.panel {
      @apply xl:border border-[#292929] h-full overflow-auto text-sm xl:text-lg;
}

.panel-section-title {
      @apply p-2 text-portgray xl:p-6 text-xs xl:text-sm border-b border-t border-[#292929];
}

.panel-section-title:first-of-type {
      @apply xl:border-t-0 /* Make sure top title in panel does not add top border */;
}

.segment {
      @apply flex flex-col gap-2 xl:gap-4 m-0 xl:m-4 border border-l-0 border-r-0 xl:border-l xl:border-r p-4 xl:p-6 border-dashed hover:cursor-pointer;
}

.segment-top {
      @apply flex gap-2 xl:gap-4 text-xs xl:text-lg;
}

.progress-bar {
      @apply h-1 xl:h-2 rounded-full transition-all duration-75 ease-linear;
}

.segment-bottom {
}

.segment-link {
      @apply text-portblue text-xs xl:text-sm group-hover:underline;
}

/* Target the scrollbar */
::-webkit-scrollbar {
      height: 12px; /* Height of the scrollbar (for horizontal scrollbars) */
}

/* The track (background of the scrollbar) */
::-webkit-scrollbar-track {
      background: var(--background); /* Light gray background */
}

/* The thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
      background: var(--portgray); /* Medium gray for the thumb */
      border-radius: 12px; /* Rounded corners for the thumb */
}

/* Hover state for the thumb */
::-webkit-scrollbar-thumb:hover {
      background: #555; /* Darker gray when hovered */
}

@keyframes log-item-anim {
      0% {
            opacity: 100%;
      }
      75% {
            opacity: 100%;
      }
      100% {
            opacity: 0%;
      }
}

.log-item {
      animation-name: log-item-anim;
      animation-fill-mode: forwards;
      animation-duration: 5s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      @apply py-1;
}

.log-item:first-of-type {
      @apply ml-0;
}

@keyframes stat-anim {
      0% {
            opacity: 100%;
      }
      100% {
            opacity: 0%;
            scale: 4;
            transform: translateY(-10%);
      }
}

.stat-animation {
      font-size: 16px;
      font-weight: bold;
      opacity: 1;
      position: absolute;
      left: 0;
      top: 100%;
      color: var(--portgreen);
      animation-name: stat-anim;
      animation-duration: 3s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-fill-mode: forwards;
}